.papaya {
    border: 1px solid rgb(20, 11, 11);
    box-shadow: 16px -17px 15px 3px;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: auto;
    padding-bottom: 15px;
    background-color:white;
}
.papaya * {
    text-align: center;
    margin: auto;
    padding: 5px;
    
}
body {
    background-color: black;
}